@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-6xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-2xl;
  }

  a {
    @apply text-primary;
  }

  body {
    min-height: 100vh;
    margin: 0;
    background-color: #030e29;
    color: #fff;
  }

  #svelte {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

@layer utilities {
  .fullWidth {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

html::-webkit-scrollbar-track {
  background: linear-gradient(0deg, #ff295d 25%, #ffba02 50%, #fb44e3 75%, #4b2ec5 100%);
}

html::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: 0px 0px 0px 100000vh #fff;
}
