.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.ReactModal__Content {
  top: 10% !important;
  right: 10% !important;
  left: 10% !important;
  bottom: 10% !important;
  border-radius: 0.5rem !important;
  background-color: #141821 !important;
  border: none !important;
  padding: 3rem !important;
}